.imageContent {
    padding: 1rem 0;
    width: 100%;
    max-width: 800px;    
}

.imageContent img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imageMetadata {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    color: gray;
}

.imageMetadata p {
    margin: 0;
    font-size: small;
}

.imageMetadata a {
    color: gray;
    text-decoration: none;
}

.sidebar {
    color: gray;
    position: fixed;
    padding: .5rem;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    font-family: monospace;
    height: auto;
}
