.imageContent {
    padding: 1rem 0;
    width: 100%;
    max-width: 800px;    
}

.imageContent img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imageMetadata {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    color: gray;
}

.imageMetadata p {
    margin: 0;
    font-size: small;
}

.imageMetadata a {
    color: gray;
    text-decoration: none;
}