.imageContent {
    padding: 1rem 0;
    width: 100%;
    max-width: 1200px;    
}

.imageMetadata {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    color: gray;
}

.imageMetadata p {
    margin: 0;
    font-size: small;
}